/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

.login-container {
  display: flex;
  flex-direction: row;
  min-height: 90vh; 
  width: 95%; 
  margin: 40px;
  /* padding: 50px 60px; */
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  background-color: #fff;
}


/* Success message */
.success-message {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #4BB543;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 10;
}

/* Left image section */
.image-section {
  flex: 1;
  background: url("https://kokilabenhospital.com/images/indore/department-indore1.png") no-repeat center;
  background-size: cover;
}

/* Right form section */
.form-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

/* Login form box */
.login-form {
  width: 100%;
  max-width: 500px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* Logo container */
.logo-container {
  text-align: center;
  margin-bottom: 25px;
}

.logo-container .logo {
  width: 120px;       
  height: 120px; 
  border-radius: 10px;
  margin-bottom: 10px;
}

.logo-container h2 {
  font-size: 24px;
  color: #015249;
  margin-bottom: 5px;
  font-weight: bold;
}

.sub-logo-text {
  font-size: 12px;
  color: #555;
}

/* Form text */
.login-form p {
  text-align: center;
  color: #444;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Inputs */
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: border-color 0.2s ease-in-out;
}

.login-form input:focus {
  border-color: #003060;
  outline: none;
}

/* Button */
.login-form button {
  width: 100%;
  background-color: #055c9d;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-form button:hover {
  background-color: #003060;
}


.message {
  margin-top: 10px;
  color: red;
  font-size: 14px;
  text-align: center;
}
.heading h1{
    color: #003060;
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;

}