
body, html {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

.container {
  padding: 30px;
  font-family: Arial, sans-serif;
  max-width: 900px; 
  margin: 0 auto;    
}

h1 {
  margin-bottom: 20px;
  color: #2c3e50;
  font-weight: bold;
}

input[type="text"] {
  padding: 8px 12px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}




.top-bar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px;
}

.search-input {
  width: 500px; 
  max-width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.add-button {
  padding: 8px 14px;
  background-color: #c71b23;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #2980b9;
}




/* Buttons style */
button {
  padding: 8px 14px;
  margin-right: 5px;
  background-color: #3498db;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

/* Table styles */
.my-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 0.95rem;
}

.my-table th,
.my-table td {
  border: 1px solid #ddd;
  padding: 10px 12px;
  text-align: left;
}

.my-table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
